{% extends "partials/base.html" %}
{% block content %}
    <h6 class="p-5">
        All our guestrooms are elegantly furnished with handmade furniture include luxury en-suite facilities with
        complimentary amenities pack, flat screen LCD TV, tea/coffee making facilities, fan, hairdryer and the finest
        pure white linen and towels.
    </h6>
    <div class="d-md-flex flex-md-row mb-3 ">
        <div class="card m-3">
            <img src="https://images.unsplash.com/photo-1578683010236-d716f9a3f461?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Our king size four poster provides views over landscaped gardens. It has a seating
                    area, ample storage, digital safe and mini fridge.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card m-3">
            <img src="https://images.unsplash.com/photo-1560185893-a55cbc8c57e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Our king size sleigh bedded also provides views over landscaped gardens. It has
                    ample storage, a seating area, digital safe and mini fridge.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card m-3">
            <img src="https://images.unsplash.com/photo-1618773928121-c32242e63f39?https://images.unsplash.com/photo-1560185893-a55cbc8c57e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">As our smallest budget rooms, the Compact bedrooms are suited for single occupancy
                    or short-stay double occupancy as they have limited space and storage.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

{% endblock %}